@import '../../variables.scss';

.btnMicrofone {
  width: 120px;
  height: 120px;
  border: 2px solid #518bb4;
}

.btnMicrofone:disabled {
  border: 2px solid hsl(210, 2%, 18%);
}

.active {
  border: 2px solid $border-microfone;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 19px rgba(155, 203, 94, 0.9);
    box-shadow: 0 0 0 19px rgba(155, 203, 94, 0.9);
  }
  66% {
    -moz-box-shadow: 0 0 0 40px rgba(109, 203, 94, 0.06);
    box-shadow: 0 0 0 40px rgba(109, 203, 94, 0.06);
  }
}

.decibelLabel {
  color: gray;
  // position: absolute;
  // top: 47px;
  // left: 51px;
  // position: relative;
}

.buttonText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dragHelper {
  position: absolute;
  top: -144px;
  pointer-events: none;
  height: 132px;
  background: gainsboro;
  left: 36px;
  background: rgb(99, 189, 176);
  background: linear-gradient(180deg, rgba(99, 151, 189, 0.26) 0%, rgba(81, 93, 79, 0) 100%);

  transition: all 0.8s;
  transition-delay: 0.7s;
  border-radius: 20px;
  opacity: 0;

  &.show {
    opacity: 0.4;
  }
}

.lock {
  fill: #282f35;
}
