@import '../../variables.scss';

.block {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: $color-list;

  margin-top: 40px;
}

.number {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    .digits {
      color: #9e734d;
    }
  }
}

.digits {
  color: #75573e;
}

.text {
  text-align: left;
  font-size: 16px;
  color: $color-call-number;
}
