@import '../../variables.scss';

.buttonText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-btn;
  padding-top: 14px;
  padding-bottom: 15px;
  letter-spacing: 0.02em;
}

.btn {
  background: none;
  border: 2px solid $border-btn;
  border-radius: 100px;

  margin: 5px;
  cursor: pointer;
  transition: border 0.3s;

  svg {
    fill: $border-btn;
    width: 32px;
    height: 32px;
  }

  &:disabled {
    color: gray;
    border: 2px solid gray;
    cursor: auto;

    svg {
      fill: #838383;
    }
  }
}

.btn.fullWidth {
  width: 100%;
}

.caption {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;

  color: $color-caption;
}
