@import '../../variables.scss';

.textField {
  position: relative;
  max-width: 315px;
  margin: 15px 0;

  & > input {
    border: none;
    color: $color-field;
    padding: 5px 0;
    width: 100%;
    background: none;
    font-size: 24px;
    font-family: Manrope;
    outline: none;

    &::placeholder {
      font-weight: 200;
      color: rgb(80, 79, 79);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: $color-field !important;
      -webkit-background-clip: text;
      font-size: 24px;
    }
    &:focus,
    &:active,
    &:focus-visible {
      background: none;
    }
  }

  &:after {
    content: '';
    display: block;
    border-bottom: 1px solid #5e96be;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.4s all;
  }

  &:hover::after {
    border-bottom: 1px solid #6faedb;
  }
}
