@import '../../variables.scss';

.circle {
  background: $background-circle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  12% {
    -moz-box-shadow: 0 0 0 19px rgba(203, 139, 94, 0.06);
    box-shadow: 0 0 0 19px rgba(203, 139, 94, 0.06);
  }
  24% {
    -moz-box-shadow: 0 0 0 30px rgba(203, 139, 94, 0.13);
    box-shadow: 0 0 0 30px rgba(203, 139, 94, 0.13);
  }
  36% {
    -moz-box-shadow: 0 0 0 46px rgba(203, 139, 94, 0.06);
    box-shadow: 0 0 0 46px rgba(203, 139, 94, 0.06);
  }
  55% {
    -moz-box-shadow: 0 0 0 56px rgba(203, 139, 94, 0.09);
    box-shadow: 0 0 0 56px rgba(203, 139, 94, 0.09);
  }
  66% {
    -moz-box-shadow: 0 0 0 50px rgba(203, 139, 94, 0.12);
    box-shadow: 0 0 0 50px rgba(203, 139, 94, 0.12);
  }
}
