@import '../../variables.scss';

.container {
  background: linear-gradient(
    180deg, #12242a 0%, #2b353e 100%);
  color: $color;
  height: 100vh;
  padding: 0 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 79px;
  text-align: center;
}
